%div{:align => "center"} 
	%h2
		Witamy na portalu First Aid E-Learn

	%br
	Jeżeli tu trafiłeś, to znaczy że chcesz się nauczyć i sprawdzić swoją wiedzę w zakresie pierwszej pomocy.
	%br
	W tym celu żeby rozpocząć kurs, kliknij 
	



	%br
	
	%br