%div{:align => "center"} 
	%h2
		Witamy na portalu First Aid E-Learn

	%br
	%h5
		Jeżeli tu trafiłeś, to znaczy że chcesz się nauczyć i sprawdzić swoją wiedzę w zakresie pierwszej pomocy.
		%br
		W tym celu żeby rozpocząć kurs, naciśnij przycisk 
		%br
		%br
		= link_to 'Start!', beg_course_index_path, :class=>"btn btn-success"



	%br

	%br