
%div{:align => "center"} 
	%h1 
		Egzamin na poziom
		-if @exam.level == "Początkujący"
			poczatkujący
		-else
			zaawansowany
%br
%div{:align => "center"}
	:javascript
    $(document).on('page:change', function () {
      render_next_question();
    });
    function render_next_question(){
      var exam_level = $("#@exam.level).text();


      if(exam_level == "Początkujący"){
       $("#myForm").html('#{j render :partial => 'question_beg', :locals => { :f => f }}');
        
      }else if(exam_level == "Zaawansowany"){
        $("#myForm").html('#{j render :partial => 'question_adv', :locals => { :f => f }}');
        
        
      }
    }
    - @exams_questions.each do |question|
  		#myForm 
	