.container
  .row
    .span12
      #footer
        %ul.footer
          %li>
            App built by
           
            %a{:href => "https://github.com/Nitjsefni"} Nitjsefni

          \  
          
        %ul